<link href="style.css" rel="stylesheet" media="all" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">



body {
  margin: 10px 0 ;
   padding: 0 ;
   text-align: center ;
}

h1{

  
}
